<body id="body_style">
    <nav class= "nav_index">
      <img src="https://lostramites.com.co/wp-content/uploads/logo-sena-Naranja-300x300.jpg" id="Index_Logo">
        <section id="Index_Salir">
            <div id="Texto_Salir">
                <a id="cerrar_sesion" href="#"><%= link_to "Salir", destroy_user_session_path, :method => :detele%></a>
            </div>
        </section>
    </nav>

    <main class="main_index">
        <section class="Container_Lista">
            <div id="Titulo_Menu">
                <h2 id="h2_index">Titulo</h2>
            </div>
            <div id="Menu_index">
                <ul class="Home_Listas">
                    
                    <li class="Lista1Area"><%= link_to "Nueva Area", new_area_path, :method => :get %></li>
                    <li class="Lista1"><a href="#">Editar Area</a></li>


                    
                    
                    
                </ul>
            </div>
            <div id= boton_volver> <%= link_to "Volver", home_index_path , method: :get %>
            </div>
            
        </section>

        <section id="Index_Bienvenida">
            <p>
                <strong>Codigo:</strong>
                <%= @area.codigo_area %>
            </p>
      
            <p>
                <strong>nombre:</strong>
                <%=  @area.nombre_area %>
            </p>
        </section>
        
    </main>

    <footer>
        <div id="info-footer">Version 1.0.0</div>
    </footer>
</body>